websockets>=15.0
pywinauto>=0.6.8
pyautogui>=0.9.54
pywin32>=308
psutil>=6.0.0
packaging>=24.0
Pillow>=10.0.0
emoji>=2.12.0
opencv-python>=4.9.0
sounddevice>=0.5.0
soundfile>=0.12.0
pycaw>=20240210
comtypes>=1.4.0
